.AbiSuite
.ICEauthority
.Xauthority
.abook
.aptitude
.balazar_brothers
.bash_history
.bash_logout
.bash_profile
.bashrc
.bookmarkbridge
.cache
.cairo-clockrc
.camel_certs
.certs
.cgobanrc
.conduit
.config
.cpan
.cream
.critter
.crustytoothpaste
.cvspass
.dasher
.dbus
.desktopflickr
.dlume
.dmrc
.dvdcss
.einstein
.elinks
.emacs
.emacs~
.esd_auth
.esmtprc
.evolution
.exaile
.festival_history
.flickr
.fontconfig
.fonts.conf
.fonts
.foprc
.funguloids
.gconf
.gconfd
.gearhead
.gimp-2.2
.gitconfig
.gitk
.gkrellm2
.gksu.lock
.glchess
.gnochm
.gnome-hearts.cfg
.gnome
.gnome2
.gnome2_private
.gnomerc
.gnupg
.gpass
.gqview
.gstreamer-0.10
.gtk-bookmarks
.gtk-gnutella
.gtkpod
.gtkrc-1.2-gnome2
.gxine
.hplip.conf
.irssi
.java
.kde
.kde4
.lbdbrc
.lesshst
.lftp
.liferea_1.2
.liferea_1.4
.local
.macromedia
.mcop
.metacity
.miro
.mog
.mozilla
.mplayer
.mutt
.muttngrc
.muttrc
.nautilus
.nexuiz
.openoffice.org2
.pathological_scores
.pida
.prboom
.pulse-cookie
.purple
.qGorc
.qemu_history
.qt
.quarry
.rawdog
.recently-used
.recently-used.xbel
.reportbugrc
.rnd
.rolo
.sane
.screem
.sh_history
.signature
.signature-postmaster
.slocdata
.ssh
.straw
.subversion
.texmf-var
.thumbnails
.update-notifier
.vim
.viminfo
.vimrc
.viper
.viper~
.vlc
.vodovod
.warsow
.widelands
.wine
.wireshark
.xine
.xmjrc
.xsession-errors
.zsh_history
Desktop
Photos
audio
bin/git*
bin/fop-*
bin/build
bin/hack-website
bin/sync-music
bin/learnspam
bin/learnnonspam
bin/xml-convert
build
checkouts
data
image
lib
man
patches
share
source
text
tmp
wp
writings/blog
writings/books
writings/cards
writings/code
writings/dasher-poetry
writings/engl1302
writings/legal
writings/letters
writings/manuals
writings/misc
writings/notes
writings/opinion
writings/thoughts
writings/web-stuff
writings/*/*.dbx
writings/*/*.xml
writings/*/*/*.dbx
*.ps
*.fo
*.db4
*.pdf
