[user]
	name = brian m. carlson
	email =
	signingkey = 1F52F68B!
[alias]
	co = checkout
	st = status
	pff = pull --ff-only
	pnff = pull --no-ff
	mff = merge --ff-only
	mnff = merge --no-ff
	amend = commit --amend --reset-author
	update = commit --amend --reset-author --no-edit
	los = log --simplify-merges --topo-order
	lops = log -p -C --simplify-merges --topo-order
	gr = log --graph --decorate
	grs = log --graph --decorate --simplify-merges
	sui = submodule update --init
	diffc = diff --cached
	frebase = rebase -m -i --autosquash
	cor = "!f() { git checkout \"$@\" && git sui; };f"
	# Import a tarball in such a way as to produce predictable SHA-1 values.
	setup = "!f() { git init && git add -f . && GIT_COMMITTER_DATE=451521442 GIT_AUTHOR_DATE=451521442 git commit -m 'initial import' && git tag start; };f"
	# Import patches in such a way as to produce predictable SHA-1 values.
	import-patches = "!f() { GIT_COMMITTER_DATE=451521442 GIT_AUTHOR_DATE=451521442 git am -3 \"$@\"; };f"
	lsf = ls-files
	lsg = "!f() { git ls-files | grep \"$@\"; };f"
[i18n]
	commitencoding = UTF-8
[repack]
	UseDeltaBaseOffset = true
[transfer]
	unpackLimit = 5
[url "https://bmc@git.crustytoothpaste.net/git/bmc/"]
	insteadOf = dct:
[url "bmc@git.crustytoothpaste.net:/srv/scm/git/bmc/"]
	insteadOf = dcts:
[url "git@github.com:bk2204/"]
	insteadOf = gh:
[url "https://github.com/"]
	insteadOf = ghp:
[push]
	default = matching
[pull]
	rebase = false
[color]
	ui = auto
[color.diff]
	new = 34
	old = 203
[sendemail]
	smtpuser = bmc
	smtppass =
	smtpencryption = tls
	smtpserver = mail.crustytoothpaste.net
	smtpserverport = 587
	suppresscc = author
	suppresscc = self
	suppresscc = sob
	assume8bitEncoding = UTF-8
	confirm = always
	composeencoding = UTF-8
	chainreplyto = false
[diff]
	renames = copies
	algorithm = histogram
	compactionheuristic = true
[merge]
	conflictstyle = diff3
[submodule]
	fetchjobs = 4
[core]
	precomposeunicode = true
	logAllRefUpdates = true
	abbrev = 8
[rerere]
	enabled = true
[commit]
	gpgsign = true
# vim: set noet:
