.AbiSuite
.ICEauthority
.Private
.Trash
.Xauthority
.abook
.aptitude
.arch-params
.balazar_brothers
.bash_history
.bash_logout
.bash_profile
.bashrc
.beagle
.bookmarkbridge
.cache
.cairo-clockrc
.camel_certs
.certs
.cgobanrc
.chromium
.chromium-score
.civclientrc
.civserver_history
.conduit
.config
.cpan
.cream
.critter
.crossfire
.crustytoothpaste
.cvspass
.dasher
.dbus
.desktopflickr
.dlume
.dmrc
.dvdcss
.e16
.einstein
.elinks
.emacs
.emacs~
.enlightenment
.esd_auth
.esmtprc
.evolution
.exaile
.festival_history
.flickr
.fontconfig
.fonts.conf
.fonts
.fop
.foprc
.freeciv
.funguloids
.gconf
.gconfd
.gearhead
.gimp-2.2
.gimp-2.4
.gitconfig
.gitk
.gkrellm2
.gksu.lock
.glchess
.gnochm
.gnome-hearts.cfg
.gnome
.gnome2
.gnome2_private
.gnomerc
.gnomesword
.gnupg
.gpass
.gqview
.gramps
.gstreamer-0.10
.gtk-bookmarks
.gtk-gnutella
.gtkpod
.gtkrc-1.2-gnome2
.gxine
.hplip
.hplip.conf
.inkscape
.irssi
.java
.kde
.kde4
.kderc
.lbdbrc
.lesshst
.lftp
.liferea_1.2
.liferea_1.4
.local
.macromedia
.mcop
.metacity
.miro
.mog
.mozilla
.mplayer
.mutt/header_cache
.muttngrc
.nautilus
.nbi
.nexuiz
.openoffice.org2
.pathological_scores
.pida
.prboom
.pulse-cookie
.purple
.qGorc
.qemu_history
.qt
.quarry
.rawdog
.recently-used
.recently-used.xbel
.reportbugrc
.rnd
.rolo
.sane
.screem
.sh_history
.signature
.signature-postmaster
.slocdata
.ssh
.straw
.subversion
.texmf-var
.thumbnails
.update-notifier
.viminfo
.viper
.viper~
.vlc
.vodovod
.warsow
.widelands
.wine
.wireshark
.xine
.xmjrc
.xsession-errors
.zsh_history
.kq
.lightyears.cfg
.lincity
.londonlaw
.pulse
.refresh-pubringrc
.ri-li.pref
.sauerbraten
.stratagus-2.1
.themes
.wesnoth
.xchat2
.xdvirc
.zcompdump
Desktop
Documents
Download
Music
Photos
Pictures
Private
audio
bin/git*
bin/fop-*
bin/build
bin/hack-website
bin/msv-impl
bin/sync-music
bin/learnspam
bin/learnnonspam
bin/xml-convert
build
checkouts
data
emul
image
lib
man
mnt
patches
share
source
text
tmp
wp
writings/blog
writings/books
writings/cards
writings/code
writings/dasher-poetry
writings/engl1302
writings/legal
writings/letters
writings/manuals
writings/misc
writings/notes
writings/opinion
writings/thoughts
writings/web-stuff
writings/*/*.dbx
writings/*/*.xml
writings/*/*/*.dbx
*.ps
*.fo
*.db4
*.pdf
