[giggle]
	compact-mode = false
	main-window-geometry = 0x0+0+0
	main-window-maximized = true
	history-view-vpane-position = 369
	main-window-view = HistoryView
	file-view-vpane-position = 161
[user]
	name =
	email =
	signingkey = 1F52F68B!
[alias]
	co = checkout
	st = status
	pff = pull --ff-only
	pnff = pull --no-ff
	mff = merge --ff-only
	mnff = merge --no-ff
	los = log --simplify-merges
	lops = log -p -C --simplify-merges
[i18n]
	commitencoding = UTF-8
[repack]
	UseDeltaBaseOffset = true
[transfer]
	unpackLimit = 5
[url "git+ssh://git.crustytoothpaste.net/srv/scm/git/bmc/repo/"]
	insteadOf = dct:
[url "git@github.com:bk2204/"]
	insteadOf = gh:
[push]
	default = matching
[pull]
	rebase = false
[color]
	ui = auto
[sendemail]
	smtpuser = bmc
	smtppass =
	smtpencryption = tls
	smtpserver = castro.crustytoothpaste.net
	smtpserverport = 587
	suppresscc = author
	suppresscc = self
	suppresscc = sob
	assume8bitEncoding = UTF-8
	confirm = always
	composeencoding = UTF-8
	chainreplyto = false
